body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0;
    background: #E6E6FA url("images/sky.jpg") no-repeat;
    text-align: left;
    background-size: cover;
    /*background-size: 2400px 1400px;*/
}

#intro {
    padding: 1px 0 1px 1px;
    background: url("images/metal.jpg") right top repeat-x;
    margin-top: 2em;
    text-shadow: #fff 3px 5px 6px;
}

#intro img {
    width: 100px;
    margin: 0 0 0 50px;
}

#intro h1 {
    margin-bottom: 50px;
    font-size: 50px;
}

#intro h2 {
    ont-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #000;
    margin: -10px 0 0 300px;
}

#intro p {
    ont-size: 3em;
    text-transform: uppercase;
    letter-spacing: .4em;
    color: #000;
    margin: 10px 0 0 500px;
}

#form{
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #000;
}

#form ul {
    margin: 0;
}

#form ul li {
    list-style-type: none;
    padding: 15px;
}

#form input {
    width: 150px;
    height: 30px;
    font-size: 20px;
}

#form label {
    font-size: 20px;
}

#buttons{
    text-align: center;
    margin: 0 0 10px 40px;
}

#buttons p input {

    font-family: Georgia;
    font-size: 18px;
    margin: 0;
    height: 30px;
    width: 100px;
}



footer {
    margin: 50px 10px 30px 60px;
    text-align: center;
    font-style: normal;
}