body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 175%;
    margin: 0;
    background: #E6E6FA url("images/sky.jpg") no-repeat;
    text-align: left;
    background-size: cover;
    /*background-size: 2400px 1400px;*/
}

a {
    text-decoration: none;
    /*border-bottom: 1px dotted;*/
    padding-bottom: .1em;
}

a:link {
    color: #BDB76B;
}

a:visited {
    color: #808080;
}

a:focus {
    color: #808080;
}

a:hover {
    color: #808080;
}

a:active {
    color: #BDB76B;
}

#intro {
    padding: 1px 0 1px 1px;
    background: url("images/metal.jpg") right top repeat-x;
    margin-top: 2em;
    text-shadow: #fff 3px 5px 6px;
}

#intro img {
    width: 100px;
    margin: 0 0 0 50px;
}

#intro h1 {
    margin-bottom: 50px;
    font-size: 50px;
}

#intro h2 {
    ont-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #000;
    margin: -10px 0 0 300px;
}

#intro p {
    ont-size: 3em;
    text-transform: uppercase;
    letter-spacing: .4em;
    color: #000;
    margin: 10px 0 0 500px;
}


#nav {
    overflow: hidden;
    width: 100%;
    float: left;
}

#nav ul {
    list-style-type: none;
    margin: 0 auto;
    width: auto;
}

#nav ul li {
    font-weight: normal;
    /*text-transform: uppercase;*/
    text-transform: full-width;
    float: left;
}

#nav ul li a {
    display: block;
    padding: .5em;
    border: 2px solid #808080;
    border-radius: 0;
    margin: .75em;
    border-shadow: #000 3px 5px 6px;
    font-size: 20px;
}

#nav ul a:link {
    color: #000;
}

#nav ul a:visited {
    color: #000;
}

#nav ul a:focus {
    color: #FFD700;
    border-color: #BDB76B
}

#nav ul a:hover {
    color: #FFD700;
    border-color: #BDB76B
}

#nav ul a:active {
    color: #808080;
    border-color: #808080;
    border-radius: .9em;
}

#sing_in {
    border: 3px solid #808080;
    width: 20%; /* Ширина блока */
    padding: 10px; /* Поля */
    box-sizing: border-box; /* Ширина блока с полями */


    margin: 20px 50px 0 200px;
    float: right;
}

#sing_in ul {
    margin: 0;
}

#sing_in ul li {
    list-style-type: none;
    float: left;
    padding: 15px;
}

#sing_in input {
    width: 150px;
    height: 30px;
    font-size: 20px;
}

#sing_in label {
    font-size: 20px;
}

#sing_in p input {
    font-family: Georgia;
    font-size: 18px;
    margin: 0 0 15px 55px;
    height: 30px;
    width: 340px;
}


#info article {
    border: 3px solid #808080;
    width: 30%; /* Ширина блока */
    padding: 10px; /* Поля */
    box-sizing: border-box; /* Ширина блока с полями */
    margin: 95px 51px;
}

#info h2 {
    font-size: 30px;
    /*text-shadow: #FFD700 3px 5px 6px;*/
    margin: 30px 10px 10px 100px;

}

#info p {
    font-size: 18px;
    margin: 10px 30px 30px 20px;

}


#other img {
    width: 38em;
    height: 23em;
}

#other ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 200px;
    perspective-origin: center;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}

#other li {
    border: 3px solid #808080;
    float: left;
    margin-right: 100px;
    -webkit-transform: rotateX(50deg);
    -moz-transform: rotateX(50deg);
    transform: rotateX(50deg);
}

#other ul li {
    font-weight: normal;
    text-transform: full-width;
    float: left;
}

#us_info {
    margin: 50px 50px 50px 50px;
}

footer{
    text-align: center;
    font-style: normal;
}
